@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


@layer base {

  html,
  body {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, #1C1424 0%, #0B0A1C 41.5%);
    z-index: -100;
  }
}

/* slick slider only css */
.slick-arrow:hover {
  color: #fff !important;
  border-radius: 15px;
  border: 1px solid transparent !important;
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
  box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset !important;
  transition-duration: 500ms;
}

.next-arrow::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background: url('/img/arrow.svg');
  color: transparent !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.next-arrow:hover {
  color: #fff !important;
}

.prev-arrow::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background: url('/img/arrow.svg');
  color: transparent !important;
}

.prev-arrow:hover {
  color: #fff !important;
}

.border-t{
  border-top: 4px solid transparent;
  border-image: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%)
}
@layer utilities {
  .main-title-1 {
    @apply font-bold text-white text-[53px] md:text-5xl lg:text-6xl xl:text-[100px];
    text-shadow: 0px 4px 70px #8E54E9;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent;
  }

  .main-title-2 {
    @apply font-bold text-[53px] md:text-5xl lg:text-6xl xl:text-[100px];
    text-shadow: 0px 4px 70px #8E54E9;
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: #FFF;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #fff;
    text-stroke: 4px #fff;

  }

  .bg-after {
    @apply after:absolute after:content-[bg-[url('/img/herobgG.png')]] after:bg-no-repeat after:left-0 after:right-0 after:top-0 after:bottom-0 z-[-1];
  }

  .financeCard {
    @apply rounded-[15px] border-[2px] border-[#4776E6] w-full max-w-[278px] md:max-w-[210px] lg:max-w-[300px] xl:max-w-[391px] py-8 px-10 md:py-5 lg:py-6 xl:py-8 md:px-6 lg:px-12 xl:px-16;
    background: linear-gradient(0deg, rgba(71, 118, 230, 0.10) 0%, rgba(142, 84, 233, 0.10) 100%);
  }

  .workBanner {
    @apply rounded-[15px] border border-[#bbcfff66] py-10 px-10 md:py-8 md:px-10 xl:py-14 xl:px-[104px];
    background: linear-gradient(90deg, rgba(71, 118, 230, 0.04) 0%, rgba(142, 84, 233, 0.04) 100%);
    box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset;
  }

  .faqbg {
    @apply w-full rounded-[13px] border border-[#bbcfff66] p-4 lg:p-5;
    background: linear-gradient(90deg, rgba(71, 118, 230, 0.04) 0%, rgba(142, 84, 233, 0.04) 100%);
    box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset;
  }

  .BoxItem {
    @apply rounded-[15px] border border-[#bbcfff66] p-3 w-full md:max-w-[96%] xl:max-w-[391px];
    background: linear-gradient(90deg, rgba(71, 118, 230, 0.04) 0%, rgba(142, 84, 233, 0.04) 100%);
    box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset;
  }

  .ETH_text {
    @apply text-base font-bold bg-clip-text;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .border-finance {
    @apply border-y border-4 border-transparent;
    border-top: 4px solid transparent;
    border-image: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%)
  }
}