@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


@layer base {

  html,
  body {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
    background-color: #161121;
  }
}

.main-title-1 {
  @apply font-bold text-white text-[53px] md:text-5xl lg:text-6xl xl:text-7xl;
  text-shadow: 0px 4px 70px #8E54E9;
  -webkit-text-stroke-width: 5;
  -webkit-text-stroke-color: #000;
}

.main-title-2 {
  @apply font-bold text-white text-[53px] md:text-5xl lg:text-6xl xl:text-7xl bg-clip-text;
  text-shadow: 0px 4px 70px #8E54E9;
  -webkit-text-stroke-width: 5;
  -webkit-text-stroke-color: #FFF;
  background: var(#4776E6, linear-gradient(90deg, #4776E6 0%, #8E54E9 100%));
}

.bg-after {
  @apply after:absolute after:content-[bg-[url('/img/herobgG.png')]] after:bg-no-repeat after:left-0 after:right-0 after:top-0 after:bottom-0 z-[-1];
}

.financeCard {
  @apply rounded-[15px] border-[2px] border-[#4776E6] w-full max-w-[278px] md:max-w-[210px] lg:max-w-[300px] xl:max-w-[391px] py-8 px-10 md:py-5 lg:py-6 xl:py-8 md:px-6 lg:px-12 xl:px-16;
  background: linear-gradient(0deg, rgba(71, 118, 230, 0.10) 0%, rgba(142, 84, 233, 0.10) 100%);
}

.workBanner {
  @apply rounded-[15px] border border-[#bbcfff66] py-10 px-10 md:py-8 md:px-10 xl:py-14 xl:px-[104px];
  background: linear-gradient(90deg, rgba(71, 118, 230, 0.04) 0%, rgba(142, 84, 233, 0.04) 100%);
  box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset;
}

.faqbg {
  @apply w-full rounded-[13px] border border-[#bbcfff66] p-5;
  background: linear-gradient(90deg, rgba(71, 118, 230, 0.04) 0%, rgba(142, 84, 233, 0.04) 100%);
  box-shadow: 0px 0px 30px 7px rgba(142, 84, 233, 0.20) inset;
}